/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');


body{
    background-color:#B7EBC7;
    min-width:400px;
    max-width: 1080px;
    margin:0 auto;
    z-index: -4;
}
footer{
    background-color:gray;
    color:#B7EBC7;
}
nav {
    display: block;
    float: right;
    clear:right;
}
.container{
    background-color:#B7EBC7;
    font-size: 20;
}
p, span{
    max-width: 1080px;
    width: 90%;
    font-family: 'Forum', cursive;
    font-size:25px;
    margin:10px 0px 0px 0px;
}
    
.smaller-image{
    width:40px;
}

a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', cursive;
    padding:1px 1px 1px 1px;
    margin: 10px auto;
    font-size:25px;
}
ul{
    font-family: 'Cinzel', cursive;
    padding:1px 1px 1px 1px;
    margin: 10px auto;
    text-align: center;
}

.displayed{
    display: block;
    
    margin-left: 30%;
    margin-right: 10%;
    width: width: 200px;
    position: static;
    
}
hr{
     width:50%;
}

li{
    list-style: circle url("../img/deco/smallest-gear.png");
    /*padding-left: 1em;*/
    text-align: center;
}

.center{
    width:150px;
    margin:0 auto;
    text-align:left;
    
}

.headgreeting
{
    display: none;
}

.ongray:link{
    color: #add8e6;
}

#contactme{
    /*display: none;*/
}

#bg-gears{
    z-index:-2;
    float:inherit;
    clear:inherit;
}

label{
    font-family: 'Forum', cursive;
    font-size:15px;
    display: block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}
input {
  display: block;
  float: left;
  clear:left;
   width: 280px;
}


#contactCheckbox{
   text-align:center;
   width: 50%;
}


input{
    background-color:#e6ffe6;
    color:#003300;
}
input[type=text]:focus {
    border: 4px inset #00cc66;
}

input[type=email]:focus {
    border: 4px inset #00cc66;
}
input[type=submit]{
    background-color:#ccffcc;
}
input[type=submit]:focus {
    background-color:#b3ffb3;
    border: 4px inset #00cc66;
}




.halfscreen{
z-index: -3;
 background-color: #f2ffe6;

}